<ng-template #noTransactions>
  <h2>There are no transactions to display</h2>
</ng-template>
<mat-form-field>
  <mat-label>Choose Status to Filter</mat-label>
  <mat-select
    matNativeControl
    (selectionChange)="filterTransactionsByStatus($event.value)"
  >
    <mat-option value="NONE" selected>NONE</mat-option>
    <mat-option *ngFor="let status of statuses" [value]="status">{{
      status
    }}</mat-option>
  </mat-select>
</mat-form-field>

<button mat-fab color="primary" (click)="removeFilter()">
  <mat-icon>delete</mat-icon>
</button>

<ng-container *ngIf="transactions.length; else noTransactions">
  <app-list [transactions]="transactions"></app-list>
</ng-container>

<mat-paginator
  #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [length]="totalNumberOfItems"
  [pageSize]="pageSize"
  [disabled]="disabled"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
  [hidePageSize]="hidePageSize"
  [pageIndex]="currentPage"
  aria-label="Select page"
>
</mat-paginator>
