<div class="container">
  <div class="card" *ngFor="let transaction of transactions">
    <div class="card-header">
      <h2>{{ transaction.description }}</h2>
      <p>{{ transaction.createdAt | date : "medium" }}</p>
    </div>
    <div class="card-content">
      <p><strong>ID:</strong> {{ transaction.id }}</p>
      <p>
        <strong>Amount:</strong> {{ transaction.amount }}
        {{ transaction.currency }}
      </p>
      <p><strong>Status:</strong> {{ transaction.status }}</p>
    </div>
  </div>
</div>
